{% extends "admin/layout.html.twig" %}

{% block title "Utilisateurs" %}

{% block title_h1 "Édition d'un utilisateur" %}

{% block body %}

    <div class="form-center mt-4">
        <div class="col-5">
            <div class="content">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
